.button {
  padding: 0.5rem 1rem;
  background-color: var(--light-theme-text);
  color: var(--light-theme-bg);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.light {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-text);
  border: 2px solid var(--light-theme-text);
  padding: 0.4rem 1rem;
}