.collabx__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
  user-select: none;
}

.collabx__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.collabx__navbar-links_logo {
  margin-right: 2rem;
  transition: all 0.5s;
}
.collabx__navbar-links_logo h1 {
  background: var(--gradient-text);
  font-family: var(--font-family-title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
.collabx__navbar-links_logo h1:hover {
  color: var(--light-theme-text);
  font-size: 2rem;
}

.collabx__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}
.collabx__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.collabx__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.collabx__navbar-sign img {
  height: 50px;
  width: 50px;
  background-size: contain;
}

.collabx__navbar-links_container p,
.collabx__navbar-sign p,
.collabx__navbar-menu_container p {
  color: #000;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}
.collabx__navbar-links_container p,
.collabx__navbar-sign p {
  color: var(--light-theme-text);
}
.collabx__navbar-links_container p a:hover,
.collabx__navbar-sign p a:hover {
  color: var(--light-theme-text);
}

.collabx__navbar-sign button,
.collabx__navbar-menu_container button {
  padding: 0.5rem 1rem;
  background-color: var(--light-theme-text);
  color: var(--light-theme-bg);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.collabx__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.collabx__navbar-menu svg {
  cursor: pointer;
}

.collabx__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--light-theme-text);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.collabx__navbar-menu_container p {
  margin: 1rem 0;
}

.collabx__navbar-menu_container-links-sign {
  display: none;
}



@media screen and (max-width: 1078px) {
  .collabx__navbar-links_container {
    display: none;
  }
  .collabx__navbar-menu {
    display: flex;
  }
  .collabx__navbar-menu svg {
    display: block;
  }

  .collabx__navbar-menu_container-links p,
  .collabx__navbar-menu_container-links-sign p {
    color: var(--light-theme-bg);
  }
  .collabx__navbar-menu_container-links-sign button {
    background-color: var(--light-theme-bg);
    color: var(--light-theme-text);
  }
}
@media screen and (max-width: 700px) {
  .collabx__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .collabx__navbar {
    padding: 2rem;
  }
  .collabx__navbar-sign {
    display: none;
  }
  .collabx__navbar-menu_container {
    top: 20px;
  }
  .collabx__navbar-menu_container-links-sign {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .collabx__navbar-menu_container {
    top: 30px;
  }
}

/* Animation for Navbar */
.slide-left {
  -webkit-animation: slide-left 500ms ease-in-out both;
  animation: slide-left 500ms ease-in-out both;
}
.slide-right {
  -webkit-animation: slide-right 500ms ease-in-out both;
  animation: slide-right 500ms ease-in-out both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
