.container {
  height: calc(100vh - 8rem);
  color: var(--light-theme-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
}

.container h1 {
  font-family: var(--font-family-title);
}

.container p a {
  text-decoration: underline;
}
.container p a:hover {
  color: var(--light-theme-text);
}

.form input {
  height: 5vh;
  background-color: transparent;
  color: var(--light-theme-text);
  border-color: #a4a8ad;
  resize: both;
  font-family: var(--font-family);
}
.form input:focus {
  background-color: transparent;
  border: 1px solid var(--light-theme-text);
  color: var(--light-theme-text);
}

@media screen and (max-width: 550px) {
  .form input {
    display: block;
    width: 100%;
    height: 2.6rem;
  }
}
