* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  /* background-color: #040c18 !important; */
  background-color: var(--light-theme-bg);
}

a {
  color: unset;
  text-decoration: none;
}

p,
a,
ul,
li,
ol,
span {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}

/* Default padining and margin */
.section-margin {
  margin: 2rem 4rem;
}
.section-padding {
  padding: 2rem 4rem;
}

/* DEFAULT BOOTSTRAP CSS OVERRIDING */
.form-control:focus, .form-select:focus {
  box-shadow: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(172, 210, 255, 0.16);
  color: #000;
  font-weight: bold;
}

.nav-link,
.nav-link:hover {
  color: var(--light-theme-text);
}

:root {
  --font-family: "Manrope", sans-serif;
  --font-family-title: "Poppins", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --light-color: #efeff1;

  --light-theme-bg: #efeff1;
  --light-theme-text: #0c1011;
}
