.content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .content h4 {
    font-size: 1.2rem;
  }
  
  .profile-description {
    margin-left: -1.6rem;
    margin-top: .5rem;
  }
  
  .dummy-img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    /* background-color: green; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 1rem;
  
    font-size: 1.2rem;
  }
  
  .content p {
    font-size: 0.9rem;
    margin-top: -8px;
    color: rgb(91, 90, 90);
  }
  
  .content-time {
    margin-top: -12px !important;
  }
  
  .profile-image img {
    height: 70px;
    width: 70px;
  }
  
  .interaction-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
  }
  
  @media screen and (max-width: 370px) {
    .profile-image img {
      height: 50px !important;
      width: 50px !important;
    }
    .content h4 {
      font-size: 0.9rem !important;
    }
    .content {
      margin-left: 3rem !important;
    }
  }
  
  @media screen and (max-width: 400px) {
    .interaction-icons span {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 450px) {
    .content {
      margin-left: 1.5rem !important;
    }
  }
  
  @media screen and (max-width: 550px) {
    .profile-image img {
      height: 60px;
      width: 60px;
    }
    .profile-description {
      margin-left: -1rem;
    }
    .content h4 {
      font-size: 1.1rem;
    }
    .content p {
      font-size: 0.7rem;
    }
    .description p,
    .description span {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .content {
      margin-left: 1rem;
    }
  }
  